# Instructions

1. Download any sample from Shop and move it into a _separate_ folder locally.
2. Pass the path for that folder as the `path=` argument for `read_sg_shop_zipfile()`.
3. Specify whether you also want to read any supplement files using the `return_supplemental_files` parameter.

In [7]:
from safegraph_eval import ingest

# Read multiple months of Patterns/Core/Geo

In [3]:
nested_dir = '/Users/eugene/Documents/Projects/safegraph_eval_dir/sample_data/multiple_months_zipped_patterns_core_geo/'

In [6]:
output = ingest.read_sg_shop_zipfile(nested_dir, return_supplemental_files = True)

In [14]:
output.keys()

dict_keys(['data', 'brand_info', 'normalization_stats', 'visit_panel_summary', 'home_panel_summary'])

In [15]:
output['data'].head()

,placekey,parent_placekey,safegraph_brand_ids,location_name,brands,top_category,sub_category,naics_code,latitude,longitude,...,visitor_daytime_cbgs,visitor_country_of_origin,distance_from_home,median_dwell,bucketed_dwell_times,related_same_day_brand,related_same_month_brand,popularity_by_hour,popularity_by_day,device_type
0,zzw-224@62j-shz-qpv,zzw-223@62j-shz-rrk,NaN,Rowes Wharf Garage,NaN,Other Personal Services,Parking Lots and Garages,812930,42.356903,-71.050464,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,zzw-226@62j-shx-bp9,NaN,SG_BRAND_73971897e96ce01fa107640e730f905a,Bank of America,Bank of America,Depository Credit Intermediation,Commercial Banking,522110,42.359062,-71.059426,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,23f-222@62j-shy-zvf,NaN,NaN,SP Parking Chinatown Garage,NaN,Other Personal Services,Parking Lots and Garages,812930,42.351406,-71.058717,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,222-222@62j-sgh-z2k,NaN,NaN,Simmons College,NaN,"Colleges, Universities, and Professional Schools","Colleges, Universities, and Professional Schools",611310,42.339074,-71.100894,...,"{""250250606001"":4,""330170850005"":4,""2502354010...","{""US"":19}",70500.0,60.5,"{""<5"":1,""5-10"":8,""11-20"":0,""21-60"":3,""61-120"":...","{""Barnes and Noble College"":50,""Starbucks"":13,...","{""Barnes and Noble College"":55,""Dunkin'"":55,""S...","[1,0,0,0,0,0,2,0,0,0,4,13,13,9,3,4,5,2,2,1,0,0...","{""Monday"":5,""Tuesday"":4,""Wednesday"":3,""Thursda...","{""android"":6,""ios"":13}"
4,zzw-225@62j-sj3-nt9,zzw-223@62j-sj3-p7q,SG_BRAND_28a17457e5bc33c99581072edfe18a6a,People's United Bank,People's United Bank,Depository Credit Intermediation,Commercial Banking,522110,42.347301,-71.082004,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
output['brand_info'].head()

,safegraph_brand_id,brand_name,parent_safegraph_brand_id,naics_code,top_category,sub_category,stock_symbol,stock_exchange,iso_country_codes_open,iso_country_codes_closed
0,SG_BRAND_1ec16189589a76ef,& Other Stories,NaN,448120,Clothing Stores,Women's Clothing Stores,NaN,NaN,"[""US""]","[""US""]"
1,SG_BRAND_12b20c8402b220acfe0e65dd113dbbc7,&pizza,NaN,722511,Restaurants and Other Eating Places,Full-Service Restaurants,NaN,NaN,"[""US""]",[]
2,SG_BRAND_6462594f4a598a94,1 Hotels,NaN,721110,Traveler Accommodation,Hotels (except Casino Hotels) and Motels,NaN,NaN,"[""US"",""CA""]",[]
3,SG_BRAND_407913c3eaadbdf961cbb276649f6618,1-800-Flowers,NaN,453110,Florists,Florists,FLWS,NASDAQ,"[""US""]","[""US""]"
4,SG_BRAND_8889b7aefb6aa0c9,1-Stop,SG_BRAND_424a47b33a953161,445120,Grocery Stores,Convenience Stores,NaN,NaN,"[""US""]",[]

# Read one month of Patterns/Core/Geo

In [17]:
unnested_dir = '/Users/eugene/Documents/Projects/safegraph_eval_dir/sample_data/one_month_zipped_patterns_core/'

In [18]:
output = read_sg_shop_zipfile(unnested_dir, return_supplemental_files = True)

In [19]:
output['data'].head()

,placekey,parent_placekey,location_name,safegraph_brand_ids,brands,top_category,sub_category,category_tags,naics_code,latitude,...,median_dwell,bucketed_dwell_times,related_same_day_brand,related_same_month_brand,popularity_by_hour,popularity_by_day,device_type,poi_cbg,visitor_home_aggregation,visitor_daytime_cbgs
0,23p-222@628-pgh-5zz,NaN,Thoro Ent,NaN,NaN,Sound Recording Industries,Sound Recording Studios,NaN,512240,40.008388,...,171.0,"{""<5"":0,""5-10"":1,""11-20"":1,""21-60"":2,""61-120"":...","{""ACE Cash Express"":4,""Wendy's"":4,""Wawa"":4,""Co...","{""Wawa"":29,""McDonald's"":29,""Dunkin'"":29,""Walma...","[1,1,1,1,1,1,2,2,4,4,6,10,13,16,15,14,12,9,8,3...","{""Monday"":3,""Tuesday"":7,""Wednesday"":2,""Thursda...","{""android"":9,""ios"":8}",421010202003,"{""42017100208"":4}","{""340057005012"":4,""510872004112"":4,""4201710020..."
1,zzz-222@628-pnx-psq,NaN,Hancock Playground,NaN,NaN,Other Amusement and Recreation Industries,All Other Amusement and Recreation Industries,NaN,713990,39.972886,...,41.5,"{""<5"":0,""5-10"":13,""11-20"":11,""21-60"":38,""61-12...","{""Sunoco"":5,""Wawa"":4,""CVS"":4,""Target"":2,""The H...","{""Starbucks"":31,""Wawa"":28,""CVS"":28,""McDonald's...","[14,11,12,10,7,5,5,8,8,8,5,9,10,10,10,14,17,18...","{""Monday"":8,""Tuesday"":23,""Wednesday"":15,""Thurs...","{""android"":33,""ios"":38}",421010144002,"{""42101015800"":7,""42101014400"":7,""12057010811""...","{""421010144002"":8,""421010325004"":6,""4210101800..."
2,22t-222@628-pmd-vzz,NaN,Salon Bass,NaN,NaN,Personal Care Services,Beauty Salons,NaN,812112,39.946869,...,160.0,"{""<5"":1,""5-10"":5,""11-20"":2,""21-60"":3,""61-120"":...","{""Sunoco"":9,""Target"":6,""Phillips 66"":6,""Ross S...","{""Wawa"":53,""Sunoco"":47,""McDonald's"":41,""CVS"":4...","[0,0,0,0,0,0,1,3,6,8,10,12,14,12,13,18,19,20,1...","{""Monday"":3,""Tuesday"":7,""Wednesday"":6,""Thursda...","{""android"":5,""ios"":13}",421010012013,"{""34007603503"":4,""42101027800"":4,""42017100210""...","{""421010024005"":4,""340057029082"":4,""1000301660..."
3,23w-222@628-pm4-dgk,NaN,Kenneth Heist,NaN,NaN,Offices of Physicians,Offices of Physicians (except Mental Health Sp...,NaN,621111,39.921416,...,32.0,"{""<5"":0,""5-10"":0,""11-20"":0,""21-60"":2,""61-120"":...","{""Wawa"":33,""Costco"":33,""Dairy Queen"":33,""Panda...","{""Walmart"":100,""The Home Depot"":67,""Wawa"":67,""...","[0,0,0,0,0,0,0,0,0,1,2,2,1,0,0,0,0,0,0,0,0,0,0,0]","{""Monday"":2,""Tuesday"":0,""Wednesday"":0,""Thursda...","{""android"":4,""ios"":0}",421010040024,{},"{""340057029152"":7,""420171004026"":4}"
4,227-222@63s-dw8-4d9,NaN,Penrose Plaza,NaN,NaN,Lessors of Real Estate,Malls,NaN,531120,39.899562,...,19.0,"{""<5"":87,""5-10"":1516,""11-20"":859,""21-60"":1262,...","{""Burger King"":10,""ShopRite"":10,""Wingstop"":9,""...","{""Wawa"":45,""McDonald's"":40,""Sunoco"":38,""Walmar...","[95,81,71,65,69,85,139,176,243,303,404,526,635...","{""Monday"":591,""Tuesday"":613,""Wednesday"":698,""T...","{""android"":1207,""ios"":833}",421010056001,"{""42101005500"":98,""42101005600"":93,""4210100600...","{""421010055003"":36,""421019809001"":36,""42101006..."

# Read Core

In [20]:
unnested_core_dir = '/Users/eugene/Documents/Projects/safegraph_eval_dir/sample_data/zipped_core/'

In [21]:
output = read_sg_shop_zipfile(unnested_core_dir, return_supplemental_files = True)

In [22]:
output['data'].head()

,placekey,parent_placekey,location_name,safegraph_brand_ids,brands,top_category,sub_category,naics_code,latitude,longitude,...,region,postal_code,iso_country_code,phone_number,open_hours,category_tags,opened_on,closed_on,tracking_closed_since,geometry_type
0,228-222@5x4-4b5-wtv,225-222@5x4-4b5-wtv,Anoosh Afifi MS DDS,NaN,NaN,Offices of Dentists,Offices of Dentists,621210.0,47.607716,-122.320558,...,WA,98122,US,1.206324e+10,"{ ""Mon"": [[""8:00"", ""17:00""]], ""Tue"": [[""8:00"",...",NaN,NaN,NaN,2019-07-01,POLYGON
1,222-222@5x4-4qy-y9z,NaN,Angela Sonia LMP,NaN,NaN,Personal Care Services,Other Personal Care Services,812199.0,47.557582,-122.284621,...,WA,98118,US,1.206227e+10,NaN,NaN,NaN,NaN,2019-07-01,POLYGON
2,22d-222@5x4-4nz-rc5,NaN,The Donlin Apartments,NaN,NaN,Lessors of Real Estate,Lessors of Residential Buildings and Dwellings,531110.0,47.726084,-122.329904,...,WA,98133,US,NaN,NaN,NaN,NaN,NaN,2019-07-01,POLYGON
3,223-222@5x4-49c-47q,zzz-222@5x4-47y-28v,Tennis Center Sand Point,NaN,NaN,Other Amusement and Recreation Industries,Fitness and Recreational Sports Centers,713940.0,47.681213,-122.260670,...,WA,98115,US,1.206523e+10,"{ ""Mon"": [[""5:30"", ""23:00""]], ""Tue"": [[""5:30"",...",NaN,NaN,NaN,2019-07-01,POLYGON
4,zzw-222@5x4-4vy-47q,zzz-222@5x4-4vy-47q,The Gold Thread,NaN,NaN,Personal and Household Goods Repair and Mainte...,Other Personal and Household Goods Repair and ...,811490.0,47.567059,-122.386984,...,WA,98116,US,1.206932e+10,"{ ""Mon"": [], ""Tue"": [[""10:00"", ""19:00""]], ""Wed...",NaN,NaN,NaN,2019-07-01,POLYGON

In [23]:
output['brand_info'].head()

,safegraph_brand_id,brand_name,parent_safegraph_brand_id,naics_code,top_category,sub_category,stock_symbol,stock_exchange,iso_country_codes_open,iso_country_codes_closed
0,SG_BRAND_1ec16189589a76ef,& Other Stories,NaN,448120,Clothing Stores,Women's Clothing Stores,NaN,NaN,"[""US""]","[""US""]"
1,SG_BRAND_12b20c8402b220acfe0e65dd113dbbc7,&pizza,NaN,722511,Restaurants and Other Eating Places,Full-Service Restaurants,NaN,NaN,"[""US""]",[]
2,SG_BRAND_6462594f4a598a94,1 Hotels,NaN,721110,Traveler Accommodation,Hotels (except Casino Hotels) and Motels,NaN,NaN,"[""US"",""CA""]",[]
3,SG_BRAND_407913c3eaadbdf961cbb276649f6618,1-800-Flowers,NaN,453110,Florists,Florists,FLWS,NASDAQ,"[""US""]","[""US""]"
4,SG_BRAND_8889b7aefb6aa0c9,1-Stop,SG_BRAND_424a47b33a953161,445120,Grocery Stores,Convenience Stores,NaN,NaN,"[""US""]",[]