In [23]:
from hfradar.src.radials import Radial
import os

In [24]:
radial_file = '../hfradar/data/radials/ruv/SEAB/RDLi_SEAB_2019_01_01_0100.ruv'

In [21]:
r = Radial(radial_file)

FileNotFoundError: [Errno 2] No such file or directory: '/hfradar/data/radials/ruv/SEAB/RDLi_SEAB_2019_01_01_0100.ruv'

This is a list of all methods of a hfradar.radials.Radial instance.

## Radial File Information
* file_path - String of the file path including the filename
* file_name - String of the filename
* file_type - String of the filetype

## Radial Metadata File
* header - Dictionary of header information
* footer - Dictionary of footer information

## Clean up metadata
* clean_header - Run this if you are planning to insert the radial data into the MySQL database.

## Radial Table Data (Pandas Dataframe)
* data - Dataframe of radial data
* diags_radial - Dataframe of radial diagnostic data
* diags_hardware - Dataframe of radial hardware data

## Quality Control tests
* qc_qartod_syntax (QC06) - QARTOD HF Radar Syntax Test
* qc_qartod_maximum_velocity (QC07) - QARTOD HF Radar Maximum Speed test
* qc_qartod_valid_location (QC08)- QARTOD HF Radar Location test
* qc_qartod_radial_count (QC09) - QARTOD HF Radar Radial Threshold test
* qc_qartod_spatial_median (QC10) - QARTOD HF Radar Spatial Median test
* qc_qartod_temporal_gradient (QC11) - QARTOD HF Radar Temporal Gradient test
* qc_qartod_avg_radial_bearing (QC12) - QARTOD HF Radar Average Radial Bearing test
* qc_qartod_primary_flag - QARTOD Primary Flag

## Export to new file format
* export - Export the Radial instance as either a new ruv file or netcdf by specifying file_type='radial' or 'netcdf' respectively... 
* eg. r.export(filename, file_type='radial')

# Radial File Information

In [ ]:
r.file_name

In [ ]:
r.file_path

In [ ]:
r.file_type()

# Radial Metadata Information

We can view the header and footer information in a dictionary format by doing the following:

In [4]:
r.metadata

NameError: name 'r' is not defined

Next, we can clean up the header dictionary. Validate_header() is specifically coded to clean the header data up so that we can insert it into the database without error

In [5]:
# r.clean_header()

In [6]:
r.metadata

NameError: name 'r' is not defined

# Radial Table Data
Dataframes will start with an index automatically generated by Pandas when the data is loaded into the dataframe. The second column for each dataframe will always be '%%.' This is a placeholder column that exists only to be used during export. Export will look for the column and comment out any row that includes a single '%.' This is to preserve the exact order of the radial file that was generated at the CODAR site.

In [7]:
r.data

NameError: name 'r' is not defined

In [11]:
r.diagnostics_hardware

    TIME  RTMP  MTMP  XTRP   RUNT  SP24  SP05  SN05   SP12  XPHT  ...  EXTA  EXTB   CRUN  TYRS  TMON  TDAY  THRS  TMIN  TSEC            datetime
0  -35.0    23    35     0  35635   0.0  5.08 -5.05  12.16    20  ...     0     0  24.62  2019     1     1     0    25     0 2019-01-01 00:25:00
1  -30.0    23    35     0  35905   0.0  5.08 -5.05  12.16    20  ...     0     0  29.17  2019     1     1     0    30     0 2019-01-01 00:30:00
2  -25.0    23    35     0  36204   0.0  5.08 -5.03  12.16    20  ...     0     0  34.62  2019     1     1     0    35     0 2019-01-01 00:35:00
3  -20.0    23    35     0  36504   0.0  5.08 -5.05  12.16    20  ...     0     0  39.19  2019     1     1     0    40     0 2019-01-01 00:40:00
4  -15.0    23    35     0  36803   0.0  5.08 -5.05  12.16    20  ...     0     0  44.20  2019     1     1     0    45     0 2019-01-01 00:45:00
5  -10.0    23    35     0  37103   0.0  5.08 -5.03  12.16    20  ...     0     0  49.41  2019     1     1     0    50     0 2019-01-01 00:50:00
6   -5.0    23    35     0  37402   0.0  5.08 -5.05  12.16    20  ...     0     0  54.22  2019     1     1     0    55     0 2019-01-01 00:55:00
7    0.0    23    35     0  37702   0.0  5.08 -5.03  12.16    20  ...     0     0  59.23  2019     1     1     1     0     0 2019-01-01 01:00:00
8    5.0    23    35     0  38001   0.0  5.08 -5.05  12.16    20  ...     0     0  64.24  2019     1     1     1     5     0 2019-01-01 01:05:00
9   10.0    23    35     0  38300   0.0  5.08 -5.05  12.16    20  ...     0     0  69.25  2019     1     1     1    10     0 2019-01-01 01:10:00
10  15.0    23    35     0  38600   0.0  5.08 -5.05  12.16    20  ...     0     0  74.41  2019     1     1     1    15     0 2019-01-01 01:15:00
11  20.0    23    35     0  38899   0.0  5.08 -5.05  12.16    20  ...     0     0  79.28  2019     1     1     1    20     0 2019-01-01 01:20:00
12  25.0    23    35     0  39199   0.0  5.08 -5.05  12.16    20  ...     0     0  84.29  2019     1     1     1    25     0 2019-01-01 01:25:00
13  30.0    23    35     0  39498   0.0  5.08 -5.05  12.16    20  ...     0     0  89.30  2019     1     1     1    30     0 2019-01-01 01:30:00
14  35.0    23    35     0  39797   0.0  5.08 -5.03  12.16    20  ...     0     0  94.32  2019     1     1     1    35     0 2019-01-01 01:35:00

[15 rows x 34 columns]

In [12]:
r.diagnostics_radial

   TIME   AMP1   AMP2  PH13  PH23  CPH1  CPH2   SNF1   SNF2   SNF3  ...   RABA  RTYP  STYP  TYRS  TMON  TDAY  THRS  TMIN  TSEC            datetime
0 -1800  0.261  0.455  58.1  79.5  59.0  80.0 -144.0 -145.0 -147.0  ...  103.1     1    68  2019     1     1     0    30     0 2019-01-01 00:30:00
1 -1200  0.248  0.466  58.2  78.4  59.0  80.0 -144.0 -145.0 -146.0  ...  103.7     1    68  2019     1     1     0    40     0 2019-01-01 00:40:00
2  -600  0.239  0.449  57.9  80.1  59.0  80.0 -145.0 -146.0 -148.0  ...  103.3     1    68  2019     1     1     0    50     0 2019-01-01 00:50:00
3     0  0.240  0.445  59.0  80.4  59.0  80.0 -143.0 -144.0 -146.0  ...  102.2     1    68  2019     1     1     1     0     0 2019-01-01 01:00:00
4   600  0.247  0.443  58.1  79.6  59.0  80.0 -144.0 -145.0 -146.0  ...  105.6     1    68  2019     1     1     1    10     0 2019-01-01 01:10:00
5  1200  0.248  0.442  58.3  78.8  59.0  80.0 -144.0 -144.0 -148.0  ...  106.6     1    68  2019     1     1     1    20     0 2019-01-01 01:20:00
6  1800  0.239  0.480  58.8  79.3  59.0  80.0 -144.0 -146.0 -147.0  ...  105.3     1    68  2019     1     1     1    30     0 2019-01-01 01:30:00

[7 rows x 32 columns]

# Radial Quality Control Tests

We have implemented eight QARTOD radial tests

## QC Test Initialization
You must tell the instance that you are about to execute the qc tests. This is necessary in order to preserve the original .ruv structure of the raw radial files. This way, we can still utilize the manufacturer's tools as intended.

In [13]:
r.initialize_qc()

## Syntax

**Description:** A collection of tests ensuring proper formatting and existence of fields within a radial file.

**Test specifications:** Acceptable files types, site codes, coordinates, APM names, etc., must be presented. For example, the national network performs the following suite of tests:
* All radial files acquired by HFRNet portals report the data timestamp in the filename.
The filename timestamp must not be any more than 72 hours in the future relative to the
portals’ system time.
* The file name timestamp must match the timestamp reported within the file.
* Radial data tables (Lon, Lat, U, V, ...) must not be empty.
* Radial data table columns stated must match the number of columns reported for each
row (a useful test for catching partial or corrupted files).
* The site location must be within range: − 180 ≤ Longitude ≤ 180 − 90 ≤ Latitude ≤ 90.
* As a minimum, the following metadata must be defined:
    * File type (LLUV)
    * Site code
    * Timestamp
    * Site coordinates
    * Antenna pattern type (measured or idealized)
    * Time zone (only Coordinated Universal Time or Greenwich Mean Time accepted)

If a radial file is successfully loaded by the Radial class that file automatically passes the QARTOD Syntax test.

In [14]:
r.qc_qartod_syntax()

In [15]:
r.data.head()

        LOND       LATD   VELU    VELV  VFLG   ESPC    ETMP    MAXV    MINV  ERSC  ERTC    XDST    YDST    RNGE  BEAR    VELO   HEAD  SPRC  QC06
0 -73.972291  40.421208 -0.031  -1.788   128    NaN   1.633   2.333   1.244     1     2  0.1054  6.0397  6.0406   1.0   1.788  181.0     2     1
1 -73.966093  40.420918 -0.358  -3.403   128    NaN   1.779   3.422   3.422     1     3  0.6314  6.0075  6.0406   6.0   3.422  186.0     2     1
2 -73.959952  40.420216 -2.629 -13.516   128  1.089   4.901  14.314  13.224     2     2  1.1526  5.9296  6.0406  11.0  13.769  191.0     2     1
3 -73.953915  40.419107 -3.948 -13.758   128    NaN   6.413  14.313  14.313     1     3  1.6650  5.8066  6.0406  16.0  14.313  196.0     2     1
4 -73.942334  40.415706  5.460  11.185     0  1.089  14.930  -2.023 -22.871     2     4  2.6480  5.4293  6.0406  26.0 -12.447  206.0     2     1

## Maximum Velocity Threshold
Ensures that a radial currend speed is not unrealistically high.

**Description:** The maximum radial speed threshold (RSPDMAX) represents the maximum reasonable surface radial
velocity for the given domain.

**Test Specifications:** The maximum total speed threshold is 1 m/s for the West
Coast of the United States and 3 m/s for the East/Gulf Coast domain. The threshold must vary by region. For
example, the presence of the Gulf Stream dictates the higher threshold on the East Coast.

**Default Max Threshold:** 250 cm/s

Flags (VLOC): 
* Fail = 4
    * Radial current speed exceeds the maximum radial speed threshold
* Pass = 1
    * Radial current speed is less than or equal to the maximum radial speed threshold.

In [16]:
r.qc_qartod_maximum_velocity(radial_max_speed=250, radial_high_speed=150) #cm/s

In [17]:
r.data.head()

        LOND       LATD   VELU    VELV  VFLG   ESPC    ETMP    MAXV    MINV  ERSC  ERTC    XDST    YDST    RNGE  BEAR    VELO   HEAD  SPRC  QC06  QC07
0 -73.972291  40.421208 -0.031  -1.788   128    NaN   1.633   2.333   1.244     1     2  0.1054  6.0397  6.0406   1.0   1.788  181.0     2     1     1
1 -73.966093  40.420918 -0.358  -3.403   128    NaN   1.779   3.422   3.422     1     3  0.6314  6.0075  6.0406   6.0   3.422  186.0     2     1     1
2 -73.959952  40.420216 -2.629 -13.516   128  1.089   4.901  14.314  13.224     2     2  1.1526  5.9296  6.0406  11.0  13.769  191.0     2     1     1
3 -73.953915  40.419107 -3.948 -13.758   128    NaN   6.413  14.313  14.313     1     3  1.6650  5.8066  6.0406  16.0  14.313  196.0     2     1     1
4 -73.942334  40.415706  5.460  11.185     0  1.089  14.930  -2.023 -22.871     2     4  2.6480  5.4293  6.0406  26.0 -12.447  206.0     2     1     1

## Valid Location 
Removes radial vectors placed over land or in other unmeasureable areas.

**Description:** Radial vector coordinates are checked against a reference file containing information about which locations
are over land or in an unmeasurable area (for example, behind an island or point of land). Radials in these
areas will be flagged with a code (FLOC) in the radial file (+128 in CODAR radial files) and are not included in
total vector calculations.

**Test Specifications:**
For CODAR systems, the reference file is called AngSeg_XXXX.txt, where XXXX is the four-letter site code of the station and is located in the “RadialConfigs” folder. These vectors receive a code of +128 in the flag column of the radial text file. BF systems use pre-set grid locations for radials.

**Default Location Flag:** 128 (corresponds to CODAR AngSeg flag)

Flags (VLOC): 
* Fail = 4
    * Radial contains a user-defined location flag code in the radial file
* Pass = 1
    * Radial does not contain a user-defined location flag code in the radial file.

In [18]:
r.qc_qartod_valid_location()

In [19]:
r.data.head()

        LOND       LATD   VELU    VELV  VFLG   ESPC    ETMP    MAXV    MINV  ERSC  ...    XDST    YDST    RNGE  BEAR    VELO   HEAD  SPRC  QC06  QC07  QC08
0 -73.972291  40.421208 -0.031  -1.788   128    NaN   1.633   2.333   1.244     1  ...  0.1054  6.0397  6.0406   1.0   1.788  181.0     2     1     1     4
1 -73.966093  40.420918 -0.358  -3.403   128    NaN   1.779   3.422   3.422     1  ...  0.6314  6.0075  6.0406   6.0   3.422  186.0     2     1     1     4
2 -73.959952  40.420216 -2.629 -13.516   128  1.089   4.901  14.314  13.224     2  ...  1.1526  5.9296  6.0406  11.0  13.769  191.0     2     1     1     4
3 -73.953915  40.419107 -3.948 -13.758   128    NaN   6.413  14.313  14.313     1  ...  1.6650  5.8066  6.0406  16.0  14.313  196.0     2     1     1     4
4 -73.942334  40.415706  5.460  11.185     0  1.089  14.930  -2.023 -22.871     2  ...  2.6480  5.4293  6.0406  26.0 -12.447  206.0     2     1     1     1

[5 rows x 21 columns]

## Radial Count
Rejects radials in files with low radial counts (poor radial map coverage)

**Description:** The number of radials (RCNT) in a radial file must be above a threshold value RCNT_MIN to pass the test and above a value RC_LOW to not be considered suspect. If the number of radials is below the minimum level, it indicates a problem with data collection. In this case, the file should be rejected and none of the radials used for total vector processing.

**Test Specifications:** The RC_LOW threshold may be based on the national
network performance metric threshold value of 300. The choice of 300 radial solutions came from grouping
radial files over a certain time period from all stations, looking at the cumulative density function for counts,
and selecting a value around 10%. However, this threshold does not work for all stations. A custom value for
a site might be found by following the same procedure for the individual station.

**Default Max Threshold:** min_radials = 150; low_radials = 300 

Flags (VLOC): 
* Fail = 4
    * Number of radials is less than min_radials
* Suspect = 3
    * Number of radials is greater than min_radials but less than or equal to low_radials
* Pass = 1
    * Number of radials is greater than low_radials.
    
This will not add an extra column to the file. Rather it will add the test result a new key, qc_qartod_radial_count, to the header file of a newly exported radial.

In [20]:
r.qc_qartod_radial_count(radial_low_count=140, radial_min_count=50)

In [21]:
r.data

          LOND       LATD   VELU    VELV  VFLG   ESPC    ETMP    MAXV    MINV  ERSC  ...     YDST     RNGE   BEAR    VELO   HEAD  SPRC  QC06  QC07  QC08  QC09
0   -73.972291  40.421208 -0.031  -1.788   128    NaN   1.633   2.333   1.244     1  ...   6.0397   6.0406    1.0   1.788  181.0     2     1     1     4     1
1   -73.966093  40.420918 -0.358  -3.403   128    NaN   1.779   3.422   3.422     1  ...   6.0075   6.0406    6.0   3.422  186.0     2     1     1     4     1
2   -73.959952  40.420216 -2.629 -13.516   128  1.089   4.901  14.314  13.224     2  ...   5.9296   6.0406   11.0  13.769  191.0     2     1     1     4     1
3   -73.953915  40.419107 -3.948 -13.758   128    NaN   6.413  14.313  14.313     1  ...   5.8066   6.0406   16.0  14.313  196.0     2     1     1     4     1
4   -73.942334  40.415706  5.460  11.185     0  1.089  14.930  -2.023 -22.871     2  ...   5.4293   6.0406   26.0 -12.447  206.0     2     1     1     1     1
..         ...        ...    ...     ...   ...    ...     ...     ...     ...   ...  ...      ...      ...    ...     ...    ...   ...   ...   ...   ...   ...
728 -74.313784  39.828457 -3.383  -7.005   128    NaN     NaN  -7.779  -7.779     1  ... -59.7218  66.4466  206.0  -7.779   25.8    22     1     1     4     1
729 -73.160940  40.298568  0.154  -0.018     0    NaN   1.089  -0.155  -0.155     1  ...  -7.2613  69.4669   96.0  -0.155  276.5    23     1     1     1     1
730 -73.241405  40.090246 -0.349   0.174     0  3.267   0.544   2.023  -1.244     2  ... -30.4523  69.4669  116.0   0.390  296.5    23     1     1     1     1
731 -73.275802  40.042493 -1.726   1.056     0    NaN   1.089   2.023   2.023     1  ... -35.7781  69.4669  121.0   2.023  301.5    23     1     1     1     1
732 -74.196994  39.765210 -0.637  -2.244   128    NaN   1.089  -2.333  -2.333     1  ... -66.7759  69.4669  196.0  -2.333   15.9    23     1     1     4     1

[733 rows x 22 columns]

## Spatial Median 
Reduces outlier velocities in radials.

**Description:** 
RV is the radial velocity
NV is a set of radial velocities for neighboring radial cells (cells within radius of 'radial_smed_range_cell_limit' * Range Step (km)and whose vector bearing (angle of arrival at site) is also within 'radial_smed_angular_limit' degrees of the source vector's bearing)

**Test Specifications:** Required to pass the test: |RV - median(NV)| <= radial_smed_current_difference

Flags (VLOC): 
* Fail = 4
    * Difference between the vector velocity and the median velocity is greater than the threshold.
* Pass = 1
    * If the difference between the vector velocity and the median velocity is less or equal to the threshold, the vector value is CHANGED to the median value.

In [22]:
r.qc_qartod_spatial_median(radial_smed_range_cell_limit=2.1, radial_smed_angular_limit=10, radial_smed_current_difference=30)

/Users/mikesmith/miniconda3/envs/hfradar/lib/python3.7/site-packages/numpy/lib/nanfunctions.py:1114: RuntimeWarning: All-NaN slice encountered
  overwrite_input=overwrite_input)

r.data

## Temporal Gradient  
Checks for satisfactory temporal rate of change of radial components.

**Description:** 
Test determines whether changes between successive radial velocity measurements at a particular range and bearing cell are within an acceptable range. GRADIENT_TEMP = |Rt-1 - Rt|

**Test Specifications:** Required to pass the test: |RV - median(NV)| <= radial_smed_current_difference

Flags (VLOC): 
* Fail = 4
    * The temporal change between successive radial velocities exceeds the gradient failure threshold.

* Suspect = 3
    * The temporal change between successive radial velocities is less than the gradient failure threshold but exceeds the gradient warn threshold.
    
* Pass = 1
    * The temporal change between successive radial velocities is less than the gradient warn threshold.

In [23]:
# r0 set so we can demonstrate temporal gradient test
r0 = '../hfradar/data/radials/ruv/SEAB/RDLi_SEAB_2019_01_01_0000.ruv'

In [24]:
r.qc_qartod_temporal_gradient(r0, gradient_temp_fail=54, gradient_temp_warn=36)

In [25]:
r.data

          LOND       LATD   VELU    VELV  VFLG   ESPC    ETMP    MAXV    MINV  ERSC  ...   BEAR    VELO   HEAD  SPRC  QC06  QC07  QC08  QC09  QC10  QC11
0   -73.972291  40.421208 -0.031  -1.788   128    NaN   1.633   2.333   1.244     1  ...    1.0   1.788  181.0     2     1     1     4     1     1     1
1   -73.966093  40.420918 -0.358  -3.403   128    NaN   1.779   3.422   3.422     1  ...    6.0   3.422  186.0     2     1     1     4     1     1     2
2   -73.959952  40.420216 -2.629 -13.516   128  1.089   4.901  14.314  13.224     2  ...   11.0  13.769  191.0     2     1     1     4     1     1     1
3   -73.953915  40.419107 -3.948 -13.758   128    NaN   6.413  14.313  14.313     1  ...   16.0  14.313  196.0     2     1     1     4     1     1     1
4   -73.942334  40.415706  5.460  11.185     0  1.089  14.930  -2.023 -22.871     2  ...   26.0 -12.447  206.0     2     1     1     1     1     1     1
..         ...        ...    ...     ...   ...    ...     ...     ...     ...   ...  ...    ...     ...    ...   ...   ...   ...   ...   ...   ...   ...
728 -74.313784  39.828457 -3.383  -7.005   128    NaN     NaN  -7.779  -7.779     1  ...  206.0  -7.779   25.8    22     1     1     4     1     1     2
729 -73.160940  40.298568  0.154  -0.018     0    NaN   1.089  -0.155  -0.155     1  ...   96.0  -0.155  276.5    23     1     1     1     1     1     2
730 -73.241405  40.090246 -0.349   0.174     0  3.267   0.544   2.023  -1.244     2  ...  116.0   0.390  296.5    23     1     1     1     1     1     1
731 -73.275802  40.042493 -1.726   1.056     0    NaN   1.089   2.023   2.023     1  ...  121.0   2.023  301.5    23     1     1     1     1     1     1
732 -74.196994  39.765210 -0.637  -2.244   128    NaN   1.089  -2.333  -2.333     1  ...  196.0  -2.333   15.9    23     1     1     4     1     1     2

[733 rows x 24 columns]

## Average Radial Bearing
Check that the average radial bearing remains relatively constant (Roarty et al. 2012).

**Description:** 
It is expected that the average of all radial velocity bearings AVG_RAD_BEAR obtained during a sample interval (e.g., 1 hour) should be close to a reference bearing REF_RAD_BEAR and not vary beyond warning or failure thresholds.

**Test Specifications:**  RAD_BEAR_DIF_FAIL =30°, RAD_BEAR DIF_WARN = 15°

Flags (VLOC): 
* Fail = 4
    * The absolute difference between the average radial bearing and a reference bearing exceeds a failure threshold.

* Suspect = 3
    * The absolute difference between the average radial bearing and a reference bearing is less than the failure threshold but exceeds the warning threshold.
    
* Pass = 1
    * The absolute difference between the average radial bearing and a reference bearing is less than the warning threshold.

In [26]:
r.qc_qartod_avg_radial_bearing(reference_bearing=151, warning_threshold=15, failure_threshold=30)

In [27]:
r.data

          LOND       LATD   VELU    VELV  VFLG   ESPC    ETMP    MAXV    MINV  ERSC  ...    VELO   HEAD  SPRC  QC06  QC07  QC08  QC09  QC10  QC11  QC12
0   -73.972291  40.421208 -0.031  -1.788   128    NaN   1.633   2.333   1.244     1  ...   1.788  181.0     2     1     1     4     1     1     1     1
1   -73.966093  40.420918 -0.358  -3.403   128    NaN   1.779   3.422   3.422     1  ...   3.422  186.0     2     1     1     4     1     1     2     1
2   -73.959952  40.420216 -2.629 -13.516   128  1.089   4.901  14.314  13.224     2  ...  13.769  191.0     2     1     1     4     1     1     1     1
3   -73.953915  40.419107 -3.948 -13.758   128    NaN   6.413  14.313  14.313     1  ...  14.313  196.0     2     1     1     4     1     1     1     1
4   -73.942334  40.415706  5.460  11.185     0  1.089  14.930  -2.023 -22.871     2  ... -12.447  206.0     2     1     1     1     1     1     1     1
..         ...        ...    ...     ...   ...    ...     ...     ...     ...   ...  ...     ...    ...   ...   ...   ...   ...   ...   ...   ...   ...
728 -74.313784  39.828457 -3.383  -7.005   128    NaN     NaN  -7.779  -7.779     1  ...  -7.779   25.8    22     1     1     4     1     1     2     1
729 -73.160940  40.298568  0.154  -0.018     0    NaN   1.089  -0.155  -0.155     1  ...  -0.155  276.5    23     1     1     1     1     1     2     1
730 -73.241405  40.090246 -0.349   0.174     0  3.267   0.544   2.023  -1.244     2  ...   0.390  296.5    23     1     1     1     1     1     1     1
731 -73.275802  40.042493 -1.726   1.056     0    NaN   1.089   2.023   2.023     1  ...   2.023  301.5    23     1     1     1     1     1     1     1
732 -74.196994  39.765210 -0.637  -2.244   128    NaN   1.089  -2.333  -2.333     1  ...  -2.333   15.9    23     1     1     4     1     1     2     1

[733 rows x 25 columns]

## Primary Flag 
Create primary flag column that gives the highest level of failure for each row.

In [28]:
r.qc_qartod_primary_flag()

r.data

Finally, lets export the qc'ed radial file back to the CODAR .ruv format

In [29]:
# r.clean_header()

In [30]:
save_dir = '../codar_processing/data/radials_qc/'
r.export(os.path.join(save_dir, 'ruv', r.file_name), 'radial')